.animation_rotate360 {
    animation: rotate360 10s infinite linear;

    &:hover {
        animation-play-state: paused;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}