.position-lg-static {
  @include media-breakpoint-up(lg) {
    position: static;
  }
}


.navbar {
  &-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 68px;
    border-top: 1px solid #fff;
  }

  &-bg {
    @include gradient-y($primary, $primary-700);
  }

  &-toggler {
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    .icon-custom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 33px;
      height: 22px;

      .icon-line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar-brand {
      font-size: 2rem;
    }

    &-bg {
      background-image: none;
    }

    &-dropdown {
      position: static;
      flex-grow: 1;
      border-top: 0;
    }
  }
}