<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首頁｜ALPHABOX+</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main>
      <section class="hero text-white">
        <div class="container-fluid col-xxl-11">
          <div class="hero__top">
            <div class="row justify-content-between">
              <div class="col-md-3 d-none d-lg-flex flex-lg-column justify-content-lg-end">
                <a href="#" class="link-light font-noto-sans pb-lg-2 mb-lg-9 border-bottom">
                  最新消息！新版本 v15.4 釋出，搶先體驗！
                </a>
              </div>
              <div class="col-md-6 text-center">
                <img class="hero__topImg mx-auto animation_rotate360" src="../assets/images/circle.png"
                  alt="Circle Logo Image" width="196px" height="196px">
              </div>
              <div class="col-md-3 d-flex flex-column justify-content-between order-first order-lg-last"
                data-aos="zoom-in">
                <p class="pt-2 mt-9 border-top">ALPHABOX+ STUDIO</p>
                <p class="d-none d-md-block font-noto-sans mb-lg-9 hero__copyright">
                  Copyright © 2023 Hexschool.
                </p>
              </div>
            </div>
          </div>
          <div class="hero__body">
            <div class="row align-items-end g-5">
              <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="text-center mb-10 d-lg-none">
                  <div class="hero__title">
                    <span>A</span>
                    <span>L</span>
                    <span>P</span>
                    <span>H</span>
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>X</span>
                    <span>+</span>
                  </div>
                  <p class="font-noto-sans">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                </div>
                <div class="position-relative">
                  <picture>
                    <source media="(min-width: 992px)" srcset="../assets/images/diane.png">
                    <img class="hero__img img-fluid" src="../assets/images/diane_square1.png" alt="Responsive Image">
                  </picture>
                  <p class="h2 position-absolute top-0 start-50 translate-middle-x mt-5">
                    Diane
                  </p>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <div class="text-center d-none d-lg-block mb-lg-8">
                  <div class="hero__title">
                    <span>A</span>
                    <span>L</span>
                    <span>P</span>
                    <span>H</span>
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>X</span>
                    <span>+</span>
                  </div>
                  <p class="font-noto-sans">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                </div>
                <div class="row g-5">
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="position-relative">
                      <picture>
                        <source media="(min-width: 992px)" srcset="../assets/images/felix.png">
                        <img class="hero__img img-fluid" src="../assets/images/felix_square1.png"
                          alt="Responsive Image">
                      </picture>
                      <p class="h2 position-absolute top-0 start-50 translate-middle-x mt-5">
                        Felix
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="position-relative">
                      <picture>
                        <source media="(min-width: 992px)" srcset="../assets/images/karina.png">
                        <img class="hero__img img-fluid" src="../assets/images/karina_square1.png"
                          alt="Responsive Image">
                      </picture>
                      <p class="h2 position-absolute top-0 start-50 translate-middle-x mt-5">
                        Karina
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="position-relative">
                  <picture>
                    <source media="(min-width: 992px)" srcset="../assets/images/vito.png">
                    <img class="hero__img img-fluid" src="../assets/images/vito_square1.png" alt="Responsive Image">
                  </picture>
                  <p class="h2 position-absolute top-0 start-50 translate-middle-x mt-5">
                    Vito
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about text-white">
        <div class="about__top border-bottom border-white">
          <div class="container-fluid col-xxl-11">
            <h2
              class="about__title font-noto-sans fw-bold spacing-base pt-5 pt-lg-2 pb-7 pb-lg-5 mt-10 mt-lg-12 linear-border--top"
              data-aos="fade-down">
              什麼是<br>
              ALPHABOX+
            </h2>
          </div>
        </div>
        <div class="about__body pb-15 pb-lg-14">
          <div class="container-fluid col-xxl-11 linear-border--bottom pb-10 linear-border--bottom">
            <div class="row align-items-center justify-content-between g-0">
              <!--  左箭頭  -->
              <div class="col-1 d-none d-md-block">
                <div class="swiper-button-prev">
                  <img src="../assets/images/carousel/line_start_arrow_notch.png" alt="left arrow" class="img-fluid">
                </div>
              </div>
              <!--  Swiper  -->
              <div class="col-md-9 mt-3">
                <div class="swiper aboutSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div
                        class="slide d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                        <div class="slide__intro">
                          <h3 class="lh-base text-md-end mb-3">
                            <span class="font-Shrikhand slide__index">01</span><br>
                            <span class="slide__title">立體投影技術</span>
                          </h3>
                          <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div
                        class="slide d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                        <div class="slide__intro">
                          <h3 class="lh-base text-md-end mb-3">
                            <span class="font-Shrikhand slide__index">02</span><br>
                            <span class="slide__title">立體投影技術</span>
                          </h3>
                          <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  右箭頭  -->
              <div class="col-1 d-none d-md-block">
                <div class="swiper-button-next">
                  <img src="../assets/images/carousel/line_end_arrow_notch.png" alt="right arrow" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="news text-white py-15">
        <div class="container">
          <h2 class="news__title fw-bold spacing-base text-center text-lg-start mb-10 mb-lg-12" data-aos="fade-down">
            最新消息</h2>
          <div class="row gx-0 font-noto-sans">
            <div class="col-12 border-top border-bottom border-white">
              <div class="news__item px-4 py-8 py-lg-10 position-relative">
                <p class="d-flex align-items-center mb-3">
                  <span class="material-symbols-outlined me-6">emergency</span><time
                    class="fw-bold spacing-base">2023.06.30</time>
                </p>
                <h4 class="news__subject spacing-base fs-20 fw-bold mb-3">產品升級公告</h4>
                <div class="d-flex flex-column flex-xl-row justify-content-xl-between">
                  <p class="fw-bold mb-3 mb-xl-0">
                    榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br class="d-none d-xl-block">
                    歡迎您了解本次升級帶來的更為卓越的性能！
                  </p>
                  <a href="#" class="stretched-link">
                    <img src="../assets/images/line_end_arrow_notch.png" alt="right arrow">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 border-bottom border-lg-end border-white">
              <div class="news__item px-4 py-8 py-lg-10 position-relative">
                <p class="d-flex align-items-center mb-3">
                  <span class="material-symbols-outlined me-6">emergency</span><time
                    class="fw-bold spacing-base">2023.06.30</time>
                </p>
                <h4 class="news__subject spacing-base fs-20 fw-bold mb-3">限時優惠活動</h4>
                <p class="fw-bold mb-3">
                  為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                </p>
                <a href="#" class="stretched-link">
                  <img src="../assets/images/line_end_arrow_notch_short.png" alt="right arrow">
                </a>
              </div>
            </div>
            <div class="col-lg-6 border-bottom border-white">
              <div class="news__item px-4 py-8 py-lg-10 position-relative">
                <p class="d-flex align-items-center mb-3">
                  <span class="material-symbols-outlined me-6">emergency</span><time
                    class="fw-bold spacing-base">2023.04.18</time>
                </p>
                <h4 class="news__subject spacing-base fs-20 fw-bold mb-3">新功能上線</h4>
                <p class="fw-bold mb-3">
                  為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                </p>
                <a href="#" class="stretched-link">
                  <img src="../assets/images/line_end_arrow_notch_short.png" alt="right arrow">
                </a>
              </div>
            </div>
          </div>
          <div class="text-center mt-12 my-lg-14">
            <a href="#" class="d-inline-block position-relative">
              <img src="../assets/images/read_more.png" alt="read more" class="img-fluid  animation_rotate360">
              <span class="position-absolute top-50 start-50 translate-middle text-white">了解更多</span>
            </a>
          </div>
          <p class="fw-bold text-white text-end d-none d-lg-block pt-lg-12">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>
      </section>

      <section class="share overflow-hidden pt-15 pb-20">
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              <h2 class="share__title fw-bold spacing-base mb-10 mb-lg-12 text-white" data-aos="fade-down">使用分享</h2>
              <p class="fw-bold text-white mb-8 mb-lg-12 font-noto-sans d-flex align-items-center">
                01<span class="material-symbols-outlined mx-1">horizontal_rule</span>04
              </p>
            </div>
            <div class="col-xl-7">
              <p class="fw-bold text-white mb-8">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
            </div>
          </div>
          <span class="material-symbols-outlined text-white fs-80 mb-5">emergency</span>
          <ul class="row list-unstyled d-lg-none g-8 font-noto-sans">
            <li class="col-12 col-md-6">
              <div class="share__card h-100 d-flex flex-column">
                <div class="flex-grow-1">
                  <span class="d-flex align-items-center mb-4">Zona<i
                      class="material-icons mx-2 fs-8">circle</i>Taipei</span>
                  <p>
                    ALPHABOX+
                    真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                  </p>
                </div>
                <p class="d-flex align-items-center">
                  <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                  ALPHABOX+ Dianne
                </p>
              </div>
            </li>
            <li class="col-12 col-md-6">
              <div class="share__card h-100 p-10 d-flex flex-column bg-white text-black">
                <div class="flex-grow-1">
                  <span class="d-flex align-items-center mb-4">Lin<i
                      class="material-icons mx-2 fs-8">circle</i>Chiayi</span>
                  <p>
                    非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                  </p>
                </div>
                <p class="d-flex align-items-center">
                  <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                  ALPHABOX+ Felix
                </p>
              </div>
            </li>
            <li class="col-12 col-md-6">
              <div class="share__card h-100 p-10 d-flex flex-column">
                <div class="flex-grow-1">
                  <span class="d-flex align-items-center mb-4">云<i
                      class="material-icons mx-2 fs-8">circle</i>Taipei</span>
                  <p>
                    我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                    ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                  </p>
                </div>
                <p class="d-flex align-items-center"><i class="material-icons fs-6 me-4">circle</i>
                  ALPHABOX+ Dianne
                </p>
              </div>
            </li>
            <li class="col-12 col-md-6">
              <div class="share__card h-100 p-10 d-flex flex-column bg-white text-black">
                <div class="flex-grow-1">
                  <span class="d-flex align-items-center mb-4">Zichi<i
                      class="material-icons mx-2 fs-8">circle</i>Kaohsiung</span>
                  <p>
                    讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                  </p>
                </div>
                <p class="d-flex align-items-center">
                  <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                  ALPHABOX+ Vito
                </p>
              </div>
            </li>
          </ul>
          <!-- Swiper -->
          <div class="swiper share__swiper d-none d-lg-block vw-100 mb-5">
            <ul class="swiper-wrapper list-unstyled font-noto-sans">
              <li class="swiper-slide col-4">
                <div class="share__card h-100 d-flex flex-column">
                  <div class="flex-grow-1">
                    <span class="d-flex align-items-center mb-4">Zona<i
                        class="material-icons mx-2 fs-8">circle</i>Taipei</span>
                    <p>
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-4">
                <div class="share__card h-100 p-10 d-flex flex-column bg-white text-black">
                  <div class="flex-grow-1">
                    <span class="d-flex align-items-center mb-4">Lin<i
                        class="material-icons mx-2 fs-8">circle</i>Chiayi</span>
                    <p>
                      非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Felix
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-4">
                <div class="share__card h-100 p-10 d-flex flex-column">
                  <div class="flex-grow-1">
                    <span class="d-flex align-items-center mb-4">云<i
                        class="material-icons mx-2 fs-8">circle</i>Taipei</span>
                    <p>
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                  </div>
                  <p class="d-flex align-items-center"><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-4">
                <div class="share__card h-100 p-10 d-flex flex-column bg-white text-black">
                  <div class="flex-grow-1">
                    <span class="d-flex align-items-center mb-4">Zichi<i
                        class="material-icons mx-2 fs-8">circle</i>Kaohsiung</span>
                    <p>
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Vito
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <!-- Swiper scrollbar -->
          <div class="row share-scroll align-items-center d-none d-lg-flex">
            <div class="col-8">
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="text-white mb-0 font-noto-sans">SCROLL</p>
            </div>
          </div>
          <p class="text-white d-none d-lg-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
        </div>
      </section>

      <section class="contact pt-15 pb-20">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-5 text-white">
              <h2 class="contact__title fw-bold spacing-base mb-7 mb-lg-10">聯絡我們</h2>
              <img src="../assets/images/contact_dot-line.png" alt="Line Image"
                class="img-fluid d-inline-block mb-11 mb-lg-14">
              <p>讓科技成為您的最佳夥伴<br>立即體驗神奇功能並享限時優惠！</p>
            </div>
            <div class="col-lg-7 font-noto-sans">
              <span class="material-symbols-outlined text-white fs-80 mb-5">emergency</span>
              <div class="form-floating mb-5 fw-bold">
                <input type="email" class="form-control" id="floatingInput" placeholder="請輸入 EMAIL">
                <label for="floatingInput">EMAIL</label>
              </div>
              <div class="form-floating mb-5 fw-bold">
                <textarea class="form-control" placeholder="請輸入 COMMENTS" id="floatingTextarea" rows="5"></textarea>
                <label for="floatingTextarea">COMMENTS</label>
              </div>
              <div class="row justify-content-lg-end">
                <div class="col-12 col-lg-7">
                  <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                    <span class="material-symbols-outlined me-1 py-2">point_scan</span>送出</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="intro">
        <ul class="d-flex flex-wrap list-unstyled text-white">
          <li class="col-6 col-lg-3 position-relative">
            <img class="img-fluid" src="../assets/images/diane_vertical.png" alt="Diane">
            <div class="intro__card position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
              <span class="number font-saira text-center">1</span>
              <p class="font-shrikhand text-center fs-2 mb-auto">Diane</p>
              <p class="fw-bold">知識型</p>
              <div class="row">
                <p class="col-12 col-lg-6 mb-0">學術領導/知識分享/智能問答</p>
                <!-- 延伸連結 -->
                <a href="#" class="col-12 col-lg-5 stretched-link">
                  <img src="../assets/images/line_end_arrow_notch_short.png" alt="right arrow">
                </a>
              </div>
            </div>
          </li>
          <li class="col-6 col-lg-3 position-relative">
            <img class="img-fluid" src="../assets/images/felix_vertical.png" alt="Felix">
            <div class="intro__card position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
              <span class="number font-saira text-center">2</span>
              <p class="font-shrikhand text-center fs-2 mb-auto">Felix</p>
              <p class="fw-bold">娛樂型</p>
              <div class="row">
                <p class="col-12 col-lg-6 mb-0">音樂播放/語音互動/遊戲陪伴</p>
                <!-- 延伸連結 -->
                <a href="#" class="col-12 col-lg-5 stretched-link">
                  <img src="../assets/images/line_end_arrow_notch_short.png" alt="right arrow">
                </a>
              </div>
            </div>
          </li>
          <li class="col-6 col-lg-3 position-relative">
            <img class="img-fluid" src="../assets/images/karina_vertical.png" alt="Karina">
            <div class="intro__card position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
              <span class="number font-saira text-center">3</span>
              <p class="font-shrikhand text-center fs-2 mb-auto">Karina</p>
              <p class="fw-bold">生活型</p>
              <div class="row">
                <p class="col-12 col-lg-6 mb-0">健康提醒/日程安排/智能家居</p>
                <!-- 延伸連結 -->
                <a href="#" class="col-12 col-lg-5 stretched-link">
                  <img src="../assets/images/line_end_arrow_notch_short.png" alt="right arrow">
                </a>
              </div>
            </div>
          </li>
          <li class="col-6 col-lg-3 position-relative">
            <img class="img-fluid" src="../assets/images/vito_vertical.png?raw=true" alt="VITO">
            <div class="intro__card position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
              <span class="number font-saira text-center">4</span>
              <p class="font-shrikhand text-center fs-2 mb-auto">Vito</p>
              <p class="fw-bold">情感型</p>
              <div class="row">
                <p class="col-12 col-lg-6 mb-0">情感識別/心情分析/心靈支持</p>
                <!-- 延伸連結 -->
                <a href="#" class="col-12 col-lg-5 stretched-link">
                  <img src="../assets/images/line_end_arrow_notch_short.png" alt="right arrow">
                </a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </main>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>